
.intro {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

.introtext {
  text-align: left;
  font-size: 1.8rem;
  line-height: 40px;
  margin-left: 10px;
  width: 800px;
}

figure {
  width: fit-content;
  height: fit-content;
}

.introimg{
  border-radius: 35px;
}
.openhours {
  font-size: 2rem;
}

.openhours span {
  color: rgb(179, 10, 10);
}

.openhours span:first-of-type{
  color: black;
  text-decoration: underline;
  line-height: 40px;
}

.location {
  font-size: 2rem;
}

.location span{
  text-decoration: underline;
  line-height: 40px;
}


@media (max-width: 1030px){

  .intro {
    flex-direction: column;
    align-items: center;
  }

  .introtext {
    font-size: 1.6rem;
    width: 100%;
  }

  .introimg {
    width: 100%;
    height: 100%;
  }
  
}