.menutext {
  font-size: 2rem;
}

.menucontainer > h2 {
  font-size: 3rem;
  text-decoration: underline;
}

.menucontainer {
  align-items: center;
}

.itemcontainer {
  align-items: center;
  font-size: 1.8rem;
  display: flex;
  margin-left: calc(50px + 13vw);
  margin-right: calc(50px + 13vw);
}

.itemcontainer:nth-child(even) {
  flex-direction: row-reverse;
  text-align: left;
}

.itemcontainer:nth-child(odd) {
  flex-direction: row;
  text-align: right;
}

.itemimg {
  width: 350px;
  height: 350px;
  border: 10px rgb(207, 207, 207) solid;
  display: inline-block;
}

.itemtext {
  height: 350px;
  display: inline-block;
  width: fit-content;
  vertical-align: middle;
  flex: 1;
  padding: 30px;
}

.itemtitle{
  text-decoration: underline;
}



@media (max-width: 1200px) {

  .itemcontainer {
    font-size: 1.6rem;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  
}

@media (max-width: 800px) {
  .itemimg {
    width: calc(150px + 10vw);
    height: calc(150px + 10vh);
  }
}